<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			Режим Бога
		</title>
		<link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
		<script type="text/javascript" src={% static "js/scripts.js" %}></script>
        <style>
            td {
                padding-left: 15px;
            }
        </style>
	</head>
	<body>
		<div>
			<button class="button_header_admin" onclick="main()">Главная</button><button class="button_header_admin" onclick="admin()">Админка</button><button class="button_header_admin" onclick="settings()">Настройки</button><button class="button_header_admin" onclick="logout()">Выход</button>
            <hr>
        </div>
        <div>
            <h1>Пользователи</h1>
            {% autoescape off %}
                <form method="POST">
                    {% csrf_token %}
                    <table border="1px solid black">
                        {{ table }}
                    </table>
                </form>
            {% endautoescape %}
        </div>
        <div>
            <hr>
            <h1>Назначить роль</h1>
            <table border="1px solid black">
                <form method="POST">
                    {% csrf_token %}
                    {% autoescape off %}
                    {{ role_table }}
                    {% endautoescape %}
                </form>
            </table>
        </div>
	</body>
</html>