<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
  "http://www.w3.org/TR/html4/strict.dtd">
  {% load static %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			Настройки
		</title>
		<link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
		<script type="text/javascript" src={% static "js/scripts.js" %}></script>
	</head>
	<body>
		<div>
			<button class="button_header_admin" onclick="main()">Главная</button><button class="button_header_admin" onclick="admin()">Админка</button><button class="button_header_admin" onclick="settings()">Настройки</button><button class="button_header_admin" onclick="logout()">Выход</button>
			<hr>
		</div>
        <center>
            <b><font size="+3">Скоро тут что-то появится</font></b>
		</center>
	</body>
</html>