<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
    <script type="text/javascript" src={% static "js/scripts.js" %}></script>
</head>
<body>
    <div>
        <button class="button_header_admin" onclick="main()">Главная</button><button class="button_header_admin" onclick="admin()">Админка</button><button class="button_header_admin" onclick="settings()">Настройки</button><button class="button_header_admin" onclick="logout()">Выход</button>
        <hr>
    </div>
    <div style="text-align: center;"><h1>{{ name }}</h1></div>
    <div><h2>Tasks</h2></div>
    <div>
        {% autoescape off %}
            {{ tasks }}
        {% endautoescape %}
    </div>
    {% if is_superuser %}
    <div>
        <input type="submit" class="enter_simple" onclick="new_task({{ competition_id }})" value="Добавить таск">
    </div>
    {% endif %}
    <div>
        <div style="text-align: center;">
            <input type="submit" class="enter_simple" onclick="solutions({{ competition_id }})" value="Посмотреть посылки">
        </div>
        {% if is_superuser %}
            <div style="text-align: center;">
                <input type="submit" class="enter_simple" onclick="delete_solution({{ competition_id }})" value="Удалить соревнование">
            </div>
            <hr>
            <h1>
                Доступ
            </h1>
            <form method="POST">
            {% csrf_token %}
            <table border="1px solid black">
                {% autoescape off %}
                {{ permissions_table }}
                {% endautoescape %}
            </table>
            </form>
        {% endif %}
    </div>
</body>
</html>