<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
  "http://www.w3.org/TR/html4/strict.dtd">
  {% load static %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			Sprint
		</title>
		<link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
		<script type="text/javascript" src={% static "js/scripts.js" %}></script>
	</head>
	<body>
        <center>
            <div>
                <h1>
                    <font color="black">Sprint</font>
                </h1>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <input type="submit" value="Войти" class=enter_simple>
                </form>
            </div>
            <div>
                <button onclick="restore()" class="enter_simple">Восстановить пароль</button>
            </div>
            <div>
                <button onclick="registration()" class="enter_simple">Регистрация</button>
            </div>
        </center>
	</body>
</html>