<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
  {% load static %}
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			Sprint
		</title>
		<style type="text/css">
			a {
				color: #000;
			}
		</style>
		<link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
		<script type="text/javascript" src={% static "js/scripts.js" %}></script>
	</head>
	<body>
		<center>
			<h1>
				<font color="black"><a href="http://192.168.1.8:8000/enter">Sprint</a></font>
			</h1>
            {{ error }}
            <form method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            <font color="black">Новый пароль</font>
                        </td>
                        <td>
                            <input type="password" name="password" class="input_simple">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font color="black">Еще раз</font>
                        </td>
                        <td>
                            <input type="password" name="again" class="input_simple">
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Установить пароль" class="enter_simple">
            </form>
		</center>
	</body>
</html>