<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
  "http://www.w3.org/TR/html4/strict.dtd">
  {% load static %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			SECompetitions
		</title>
		<style type="text/css">
			a {
				color: #000;
			}
		</style>
		<link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
		<script type="text/javascript" src={% static "js/scripts.js" %}></script>
	</head>
	<body>
		<center>
			<h1>
				<font color="black"><a href="http://127.0.0.1:8000/enter">SECompetitions</a></font>
			</h1>
			<table>
				<tr>
					<td>
						<font color="black">Почта</font>
					</td>
					<td>
						<input type="" id="login" class="input_simple"> 
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<center>
							<button style="width: 100%" class="button_simple" onclick="exit()">Восстановить пароль</button>
						</center>
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>