<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
    <script type="text/javascript" src={% static "js/scripts.js" %}></script>
    <style>
        td {
            padding-left: 15px;
        }
        .my_div {
            margin-left: 20%;
            margin-right: 20%;
            border: 3px black solid;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 1%;
            padding-right: 1%;
        }
    </style>
</head>
<body>
    <div>
        <button class="button_header_admin" onclick="main()">Главная</button><button class="button_header_admin" onclick="admin()">Админка</button><button class="button_header_admin" onclick="settings()">Настройки</button><button class="button_header_admin" onclick="logout()">Выход</button>
        <hr>
    </div>
    <div>
        <h3>
            <form method="POST">
                {% csrf_token %}
                <table border="1px solid black">
                {% autoescape off %}
                    {{ info_table }}
                {% endautoescape %}
                </table>
            </form>
        </h3>
    <center>
        <table>
            <tr>
                <td>
                    {% autoescape off %}
                    {{ previous }}
                    {% endautoescape %}
                </td>
                <td>
                    <h1><a href="http://192.168.1.8:8000/admin/solutions?block_id={{ block_id }}{{ req }}">Обратно к посылкам</a></h1>
                </td>
                <td>
                    {% autoescape off %}
                    {{ next }}
                    {% endautoescape %}
                </td>
            </tr>
        </table>
        </center>
        <h2>Files</h2>
    </div>
    {% autoescape off %}
        {{ files_text }}
    {% endautoescape %}
    <div>
    <hr>
    <h3>{{ folder }}</h3>
    </div>
    {% autoescape off %}
    {{ files }}
    {% endautoescape %}
</body>
</html>