<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{task_name}}</title>
    <link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
    <script type="text/javascript" src={% static "js/scripts.js" %}></script>
</head>
<body>
    <div>
        <button class="button_header_admin" onclick="main()">Главная</button><button class="button_header_admin" onclick="admin()">Админка</button><button class="button_header_admin" onclick="settings()">Настройки</button><button class="button_header_admin" onclick="logout()">Выход</button>
        <hr>
    </div>
    <h1><center><a href="http://192.168.1.8:8000/admin/competition?competition_id={{ competition_id }}">{{ competition }}</a></center></h1>
    <h2><center>{{ task }}</center></h2>
    <div style="text-align: center;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Легенда
                    </td>
                    <td>
                        <textarea rows="10" cols="50" style="resize: none;" name="legend">{{ legend }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Формат входных данных
                    </td>
                    <td>
                        <textarea rows="10" cols="50" style="resize: none;" name="input">{{ input }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Формат выходных данных
                    </td>
                    <td>
                        <textarea rows="10" cols="50" style="resize: none;" name="output">{{ output }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Спецификации
                    </td>
                    <td>
                        <textarea rows="10" cols="50" style="resize: none;" name="specifications">{{ specifications }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ tests }}
                    </td>
                    <td>
                        {% if tests_uploaded %}
                            <h5><span style="color: red; ">Тесты загружены</span></h5>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <hr>
        <div>
            <input type="submit" value="Сохранить" class=enter_simple>
        </div>
        </form>
    <div>
        <input type="button" value="Очистить тесты" class=enter_simple onclick="remove_tests({{ task_id }})">
    </div>
    {% if is_superuser %}
        <div>
            <input type="button" value="Удалить таск" class=enter_simple onclick="delete_task({{ task_id }})">
        </div>
    {% endif %}
    </div>
</body>
</html>